<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>InsertData</servlet-name>
        <servlet-class>InsertData</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LoginServlet</servlet-name>
        <servlet-class>LoginServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Display</servlet-name>
        <servlet-class>Display</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>go</servlet-name>
        <servlet-class>go</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DownloadServlet</servlet-name>
        <servlet-class>DownloadServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CaptchaServlet</servlet-name>
        <servlet-class>CaptchaServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>InsertData</servlet-name>
        <url-pattern>/InsertData</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoginServlet</servlet-name>
        <url-pattern>/LoginServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Display</servlet-name>
        <url-pattern>/Display</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>go</servlet-name>
        <url-pattern>/go</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DownloadServlet</servlet-name>
        <url-pattern>/DownloadServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CaptchaServlet</servlet-name>
        <url-pattern>/CaptchaServlet</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    


</web-app>
